@import "../variables";
.NavMenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  color: $color-primary;
  &__navLinks {
    display: flex;
    align-items: center;
    gap: 50px;
    h2 {
      font-family: $font-family-dos;
    }
  }
  button {
    padding: 5px 35px;
    background: $color-primary;
    border: none;
    border-radius: 50px;
    color: $color-secondary;
    cursor: pointer;
  }
}
