@import "fonts";

$font-family: "Josefin Sans", sans-serif;
$font-family-dos: "Poppins", sans-serif;

$color-primary: #f8f4f9;
//$color-secondary: #1c7f84;
$color-secondary: #008148;
$color-error: #ff7777;
$color-font: #1e3231;

$shadow-container:
  rgba($color-secondary, 0.3) 0px 1px 2px 0px,
  rgba($color-secondary, 0.15) 0px 1px 3px 1px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  padding: 12px;
}
.containerContent {
  width: 50%;
  margin: auto;
  position: relative;
}
body {
  background: $color-primary;
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: $font-family;
  color: $color-font;
}
.button-primary {
  padding: 5px 35px;
  background: $color-primary;
  border: none;
  border-radius: 50px;
  color: $color-secondary;
  cursor: pointer;
  text-decoration: none;
}
