@import "fonts";

$font-family: "Josefin Sans", sans-serif;
$font-family-dos: "Poppins", sans-serif;

$color-primary: #f8f4f9;
$color-secondary: #1c7f84;
$color-error: #ff7777;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  padding: 12px;
}
body {
  background: $color-primary;
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: $font-family;
}
