@use "../variables" as v;
.containerHome {
  padding: 12px;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    height: 100%;
    width: 100%;
    background-image: url("../../img/BG/BG01.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  &__homeInfo {
    width: 50%;
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    h2 {
      text-align: center;
      color: v.$color-primary;
      font-size: 5rem;
    }
  }
}
