@import "../variables";
.containerHome {
  padding: 12px;
  position: absolute;
  width: 100%;
  height: 100%;

  &__content {
    height: 100%;
    width: 100%;
    background-image: url("../../img/BG/BG01.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
