@use "../../variables" as v;

.formReserva {
  width: 100%;
  h2 {
    padding: 25px 0;
    border-bottom: 1px solid rgba(v.$color-secondary, 0.5);
    margin-bottom: 25px;
  }
  .horarioContainer {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    fieldset {
      width: 100%;
    }
  }
}
